*,
html,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/* keyframes mixin*/
@mixin keyframe($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    overflow: hidden;
}

a {
    text: {
        transform: uppercase;
        align: center;
        decoration: none;

	font-weight: 200;
			color: #BABABA;
        font: {
            size: 10em;
        }
    }
}

head {

&:before {
        content: attr(data-bf);
        position: absolute;
    }

}